<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1. Remember that affirmations should focus on the process rather than a desired outcome. “I am learning to x” rather than “I master x”.</string>
	<string>2. A classic positive affirmation you may consider adding is: “Every day in every way I am getting stronger”.</string>
	<string>3. You can use an affirmation to overcome negative emotions or forgive yourself for mistakes of the past.</string>
	<string>4. You can use affirmations to remind yourself to keep a positive attitude, such as: “Today I will be positive and friendly” or “Life is fun”.</string>
	<string>5. You can use affirmations to remind yourself to work on adopting new positive habits.</string>
	<string>6. An affirmation can be one powerful word, such as “focus”, “work” or  “grow”. Use the format which works best for you. </string>
	<string>7. Be creative. Try different types of affirmations to find what works best for you.</string>
	<string>8. Change the wording of your affirmations slightly from time to time to keep it fresh.</string>
</array>
</plist>
