<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AnimatableImage</key>
		<dict>
			<key>AnimationDuration</key>
			<integer>2</integer>
			<key>ImageNames</key>
			<array>
				<string>1_bow_0001</string>
				<string>1_bow_0002</string>
				<string>1_bow_0003</string>
				<string>1_bow_0004</string>
				<string>1_bow_0005</string>
				<string>1_bow_0006</string>
				<string>1_bow_0007</string>
				<string>1_bow_0008</string>
				<string>1_bow_0009</string>
				<string>1_bow_0010</string>
				<string>1_bow_0011</string>
				<string>1_bow_0012</string>
				<string>1_bow_0013</string>
				<string>1_bow_0014</string>
				<string>1_bow_0015</string>
				<string>1_bow_0016</string>
				<string>1_bow_0017</string>
				<string>1_bow_0018</string>
				<string>1_bow_0019</string>
				<string>1_bow_0020</string>
				<string>1_bow_0021</string>
				<string>1_bow_0022</string>
				<string>1_bow_0023</string>
				<string>1_bow_0024</string>
				<string>1_bow_0025</string>
				<string>1_bow_0026</string>
				<string>1_bow_0027</string>
				<string>1_bow_0028</string>
				<string>1_bow_0029</string>
				<string>1_bow_0030</string>
				<string>1_bow_0031</string>
				<string>1_bow_0032</string>
				<string>1_bow_0033</string>
				<string>1_bow_0034</string>
				<string>1_bow_0035</string>
				<string>1_bow_0036</string>
				<string>1_bow_0037</string>
				<string>1_bow_0038</string>
				<string>1_bow_0039</string>
				<string>1_bow_0040</string>
				<string>1_bow_0041</string>
				<string>1_bow_0042</string>
				<string>1_bow_0043</string>
				<string>1_bow_0044</string>
				<string>1_bow_0045</string>
				<string>1_bow_0046</string>
				<string>1_bow_0047</string>
				<string>1_bow_0048</string>
				<string>1_bow_0049</string>
				<string>1_bow_0050</string>
				<string>1_bow_0051</string>
				<string>1_bow_0052</string>
				<string>1_bow_0053</string>
				<string>1_bow_0054</string>
				<string>1_bow_0055</string>
				<string>1_bow_0056</string>
				<string>1_bow_0057</string>
				<string>1_bow_0058</string>
				<string>1_bow_0059</string>
				<string>1_bow_0060</string>
				<string>1_bow_0061</string>
				<string>1_bow_0062</string>
				<string>1_bow_0063</string>
				<string>1_bow_0064</string>
			</array>
		</dict>
		<key>Name</key>
		<string>SitsBow</string>
	</dict>
	<dict>
		<key>AnimatableImage</key>
		<dict>
			<key>AnimationDuration</key>
			<integer>2</integer>
			<key>ImageNames</key>
			<array>
				<string>3_standbow_0001</string>
				<string>3_standbow_0002</string>
				<string>3_standbow_0003</string>
				<string>3_standbow_0004</string>
				<string>3_standbow_0005</string>
				<string>3_standbow_0006</string>
				<string>3_standbow_0007</string>
				<string>3_standbow_0008</string>
				<string>3_standbow_0009</string>
				<string>3_standbow_0010</string>
				<string>3_standbow_0011</string>
				<string>3_standbow_0012</string>
				<string>3_standbow_0013</string>
				<string>3_standbow_0014</string>
				<string>3_standbow_0015</string>
				<string>3_standbow_0016</string>
				<string>3_standbow_0017</string>
				<string>3_standbow_0018</string>
				<string>3_standbow_0019</string>
				<string>3_standbow_0020</string>
				<string>3_standbow_0021</string>
				<string>3_standbow_0022</string>
				<string>3_standbow_0023</string>
				<string>3_standbow_0024</string>
				<string>3_standbow_0025</string>
				<string>3_standbow_0026</string>
				<string>3_standbow_0027</string>
				<string>3_standbow_0028</string>
				<string>3_standbow_0029</string>
				<string>3_standbow_0030</string>
				<string>3_standbow_0031</string>
				<string>3_standbow_0032</string>
				<string>3_standbow_0033</string>
				<string>3_standbow_0034</string>
				<string>3_standbow_0035</string>
				<string>3_standbow_0036</string>
				<string>3_standbow_0037</string>
				<string>3_standbow_0038</string>
				<string>3_standbow_0039</string>
				<string>3_standbow_0040</string>
				<string>3_standbow_0041</string>
				<string>3_standbow_0042</string>
				<string>3_standbow_0043</string>
				<string>3_standbow_0044</string>
				<string>3_standbow_0045</string>
				<string>3_standbow_0046</string>
				<string>3_standbow_0047</string>
				<string>3_standbow_0048</string>
				<string>3_standbow_0049</string>
				<string>3_standbow_0050</string>
				<string>3_standbow_0051</string>
				<string>3_standbow_0052</string>
				<string>3_standbow_0053</string>
				<string>3_standbow_0054</string>
				<string>3_standbow_0055</string>
				<string>3_standbow_0056</string>
				<string>3_standbow_0057</string>
				<string>3_standbow_0058</string>
				<string>3_standbow_0059</string>
				<string>3_standbow_0060</string>
				<string>3_standbow_0061</string>
				<string>3_standbow_0062</string>
				<string>3_standbow_0063</string>
				<string>3_standbow_0064</string>
			</array>
		</dict>
		<key>Name</key>
		<string>StandsBow</string>
	</dict>
	<dict>
		<key>AnimatableImage</key>
		<dict>
			<key>AnimationDuration</key>
			<integer>2</integer>
			<key>ImageNames</key>
			<array>
				<string>2_sistand_0001</string>
				<string>2_sistand_0002</string>
				<string>2_sistand_0003</string>
				<string>2_sistand_0004</string>
				<string>2_sistand_0005</string>
				<string>2_sistand_0006</string>
				<string>2_sistand_0007</string>
				<string>2_sistand_0008</string>
				<string>2_sistand_0009</string>
				<string>2_sistand_0010</string>
				<string>2_sistand_0011</string>
				<string>2_sistand_0012</string>
				<string>2_sistand_0013</string>
				<string>2_sistand_0014</string>
				<string>2_sistand_0015</string>
				<string>2_sistand_0016</string>
				<string>2_sistand_0017</string>
				<string>2_sistand_0018</string>
				<string>2_sistand_0019</string>
				<string>2_sistand_0020</string>
				<string>2_sistand_0021</string>
				<string>2_sistand_0022</string>
				<string>2_sistand_0023</string>
				<string>2_sistand_0024</string>
				<string>2_sistand_0025</string>
				<string>2_sistand_0026</string>
				<string>2_sistand_0027</string>
				<string>2_sistand_0028</string>
				<string>2_sistand_0029</string>
				<string>2_sistand_0030</string>
				<string>2_sistand_0031</string>
				<string>2_sistand_0032</string>
				<string>2_sistand_0033</string>
				<string>2_sistand_0034</string>
				<string>2_sistand_0035</string>
				<string>2_sistand_0036</string>
				<string>2_sistand_0037</string>
				<string>2_sistand_0038</string>
				<string>2_sistand_0039</string>
				<string>2_sistand_0040</string>
				<string>2_sistand_0041</string>
				<string>2_sistand_0042</string>
				<string>2_sistand_0043</string>
				<string>2_sistand_0044</string>
				<string>2_sistand_0045</string>
				<string>2_sistand_0046</string>
				<string>2_sistand_0047</string>
				<string>2_sistand_0048</string>
				<string>2_sistand_0049</string>
				<string>2_sistand_0050</string>
				<string>2_sistand_0051</string>
				<string>2_sistand_0052</string>
				<string>2_sistand_0053</string>
				<string>2_sistand_0054</string>
				<string>2_sistand_0055</string>
				<string>2_sistand_0056</string>
				<string>2_sistand_0057</string>
				<string>2_sistand_0058</string>
				<string>2_sistand_0059</string>
				<string>2_sistand_0060</string>
				<string>2_sistand_0061</string>
				<string>2_sistand_0062</string>
				<string>2_sistand_0063</string>
				<string>2_sistand_0064</string>
			</array>
		</dict>
		<key>Name</key>
		<string>SitStand</string>
	</dict>
</array>
</plist>
