<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>AnimatableImage</key>
		<dict>
			<key>AnimationDuration</key>
			<integer>3</integer>
			<key>ImageNames</key>
			<array>
				<string>running_skeleton0</string>
				<string>running_skeleton1</string>
				<string>running_skeleton2</string>
				<string>running_skeleton3</string>
				<string>running_skeleton4</string>
				<string>running_skeleton5</string>
				<string>running_skeleton6</string>
				<string>running_skeleton7</string>
				<string>running_skeleton8</string>
				<string>running_skeleton9</string>
				<string>running_skeleton10</string>
				<string>running_skeleton11</string>
				<string>running_skeleton12</string>
				<string>running_skeleton13</string>
				<string>running_skeleton14</string>
				<string>running_skeleton15</string>
			</array>
		</dict>
		<key>Number</key>
		<integer>0</integer>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>QuestionSubject</key>
		<string>Name</string>
		<key>QuestionType</key>
		<string>TEXT</string>
		<key>Message</key>
		<string>Welcome to Vigo Dojo and thank you for downloading the Vigo Sensei app. I am your Sensei. What is your name please?</string>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
		<key>Number</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Answers</key>
		<array>
			<string>male</string>
			<string>female</string>
		</array>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>QuestionSubject</key>
		<string>Gender</string>
		<key>QuestionType</key>
		<string>RADIO</string>
		<key>Message</key>
		<string>Nice to meet you &lt;#Name&gt; I look forward to working with you. May I ask your sex please?</string>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
		<key>Number</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>Thank you &lt;#PersonalTitle&gt;</string>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
		<key>Number</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>I will now guide you through how to use this app and the tools it contains</string>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
		<key>Number</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>EnabledContols</key>
		<array>
			<string>AffirmationsButton</string>
		</array>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>The first tool I want to introduce to you is Affirmations.  Click the green Affirmations button below please</string>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
		<key>Number</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>This is the affirmation screen. Let me briefly explain what an affirmation is. It is a statement you write down and say out loud every day. It should be present tense, positive, personal and specific. I will message you and remind you to say the affirmations you have created </string>
		<key>ScreenName</key>
		<string>AffirmationScreen</string>
		<key>Number</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>“You have six message slots. Simply tap one of the numbers below to reveal that message. If the number is grey the slot is empty, if it is black it is full. Once you have selected the slot you want to edit, you simply tap in the text field below to enter or modify the text.</string>
		<key>ScreenName</key>
		<string>AffirmationScreen</string>
		<key>Number</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>EnabledContols</key>
		<array>
			<string>TextView</string>
		</array>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>Let’s create a test affirmation. Tap number 1, then tap the text field below, type “I am happy!” and hit “done“</string>
		<key>ScreenName</key>
		<string>AffirmationScreen</string>
		<key>Number</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>EnabledContols</key>
		<array>
			<string>ReceiveTimeTextView</string>
		</array>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>Now set the message timing by tapping the message timing field and choosing from one of the three possible values. “start of day” will send the message right after you wake up, “any time”  will send the message twice during the day or evening, “end of day” will send the message shortly before bedtime.</string>
		<key>ScreenName</key>
		<string>AffirmationScreen</string>
		<key>Number</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>AnimatableImage</key>
		<dict>
			<key>AnimationDuration</key>
			<integer>3</integer>
			<key>ImageNames</key>
			<array>
				<string>running_skeleton0</string>
				<string>running_skeleton1</string>
				<string>running_skeleton2</string>
				<string>running_skeleton3</string>
				<string>running_skeleton4</string>
				<string>running_skeleton5</string>
				<string>running_skeleton6</string>
				<string>running_skeleton7</string>
				<string>running_skeleton8</string>
				<string>running_skeleton9</string>
				<string>running_skeleton10</string>
				<string>running_skeleton11</string>
				<string>running_skeleton12</string>
				<string>running_skeleton13</string>
				<string>running_skeleton14</string>
				<string>running_skeleton15</string>
			</array>
		</dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>Good job &lt;#Name&gt;!, You’ve created your first affirmation</string>
		<key>ScreenName</key>
		<string>AffirmationScreen</string>
		<key>Number</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>EnabledContols</key>
		<array>
			<string>BackButton</string>
		</array>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>I will provide more guidance on how to use affirmations later, let’s continue on our tour of the app. Please hit the back button to go back to the main screen</string>
		<key>ScreenName</key>
		<string>AffirmationScreen</string>
		<key>Number</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>EnabledContols</key>
		<array>
			<string>VisualisationsButton</string>
		</array>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>Now hit the blue visualization button below please</string>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
		<key>Number</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>This is the visualization screen. It works the same as the Affirmation screen, except here you create picture messages, and you only have 5 slots.</string>
		<key>ScreenName</key>
		<string>VisualisationScreen</string>
		<key>Number</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>Select a picture by tapping the camera icon in the lower left corner, and then enter text to be superimposed on top of the image. The idea of a visualization is that it either represents something you strive for or something positive in your life which you want to focus on.</string>
		<key>ScreenName</key>
		<string>VisualisationScreen</string>
		<key>Number</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>EnabledContols</key>
		<array>
			<string>CameraButton</string>
		</array>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>Try to create a positive visualization by picking a picture of a loved one and typing &quot;Love!&quot;</string>
		<key>ScreenName</key>
		<string>VisualisationScreen</string>
		<key>Number</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>AnimatableImage</key>
		<dict>
			<key>AnimationDuration</key>
			<integer>3</integer>
			<key>ImageNames</key>
			<array>
				<string>running_skeleton0</string>
				<string>running_skeleton1</string>
				<string>running_skeleton2</string>
				<string>running_skeleton3</string>
				<string>running_skeleton4</string>
				<string>running_skeleton5</string>
				<string>running_skeleton6</string>
				<string>running_skeleton7</string>
				<string>running_skeleton8</string>
				<string>running_skeleton9</string>
				<string>running_skeleton10</string>
				<string>running_skeleton11</string>
				<string>running_skeleton12</string>
				<string>running_skeleton13</string>
				<string>running_skeleton14</string>
				<string>running_skeleton15</string>
			</array>
		</dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>That is a beautiful visualization &lt;#Name&gt;, well done! To delete an Affirmation or a Visualization, simply press and hold the slot number for two seconds</string>
		<key>ScreenName</key>
		<string>VisualisationScreen</string>
		<key>Number</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>EnabledContols</key>
		<array>
			<string>BackButton</string>
		</array>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>Now tap the back arrow to go back to the main screen please</string>
		<key>ScreenName</key>
		<string>VisualisationScreen</string>
		<key>Number</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>You have now learned how to use the main tools of this application. I hope you will have fun with it and get creative with your use of Affirmations and Visualizations.  I think you will find it will improve your outlook, boost your energy and even make you a more powerful person</string>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
		<key>Number</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>EnabledContols</key>
		<array>
			<string>MoreTab</string>
		</array>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>Let’s look at the additional functions on the ‘more’ page. Please tap the link in the top right corner.</string>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
		<key>Number</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>AllowedActionName</key>
		<string>ScrollToBottom</string>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>Scroll down to the bottom please</string>
		<key>ScreenName</key>
		<string>MoreScreen</string>
		<key>Number</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>The sleep time panel allows you to tell me when you are typically sleeping, so that I know when to not bother you, and to allow me to time the start of day and end of day messages</string>
		<key>ScreenName</key>
		<string>MoreScreen</string>
		<key>Number</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>The data format fields control the format of time, date, weight and height to either U.S. or Metric standards.</string>
		<key>ScreenName</key>
		<string>MoreScreen</string>
		<key>Number</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>The personal profile information is optional, but if you provide me this information it allows me to help you better, by giving you lessons and guidance which fit your profile. You can enter that now or later, or never, it’s up to you</string>
		<key>ScreenName</key>
		<string>MoreScreen</string>
		<key>Number</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>AllowedActionName</key>
		<string>ScrollToTop</string>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>Now scroll up to the top of the page again please</string>
		<key>ScreenName</key>
		<string>MoreScreen</string>
		<key>Number</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>The ‘sensei teaching intensity’ control allows you to set the intensity of my teachings both in terms of volume and tone. Keep in mind though that lessons are only available in the full version of the app, you will need to upgrade to get this feature. I hope you will love the app and decide to do so soon!</string>
		<key>ScreenName</key>
		<string>MoreScreen</string>
		<key>Number</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>The instructions control turns instructions on or off. If they are on, I will continue to provide pointers on how to use affirmations and visualizations. You may want to leave this on for a while until you feel you master it</string>
		<key>ScreenName</key>
		<string>MoreScreen</string>
		<key>Number</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>Message</key>
		<string>The other links on this page should be self-explanatory. We really hope that you will love the app, upgrade it, share it, tweet about it, and rate it well. If for any reason you don’t think the app meets your expectations or if you have any suggestions or feed-back, we encourage you to use the feedback function to send us an email.</string>
		<key>ScreenName</key>
		<string>MoreScreen</string>
		<key>Number</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>EnabledContols</key>
		<array>
			<string>SenseiTab</string>
		</array>
		<key>RequiresActionToProceed</key>
		<true/>
		<key>Message</key>
		<string>Please go back to the main screen to conclude this tutorial</string>
		<key>ScreenName</key>
		<string>MoreScreen</string>
		<key>Number</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>Message</key>
		<string>You have now completed the tutorial, well done &lt;#Name&gt;!</string>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>AnimatableImage</key>
		<dict>
			<key>AnimationDuration</key>
			<integer>2</integer>
			<key>ImageNames</key>
			<array>
				<string>running_skeleton0</string>
				<string>running_skeleton1</string>
				<string>running_skeleton2</string>
				<string>running_skeleton3</string>
				<string>running_skeleton4</string>
				<string>running_skeleton5</string>
				<string>running_skeleton6</string>
				<string>running_skeleton7</string>
				<string>running_skeleton8</string>
				<string>running_skeleton9</string>
				<string>running_skeleton10</string>
				<string>running_skeleton11</string>
				<string>running_skeleton12</string>
				<string>running_skeleton13</string>
				<string>running_skeleton14</string>
				<string>running_skeleton15</string>
			</array>
		</dict>
		<key>Number</key>
		<integer>29</integer>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
	</dict>
	<dict>
		<key>Message</key>
		<string>You are now ready to use the app. I trust you will enjoy!</string>
		<key>RequiresActionToProceed</key>
		<false/>
		<key>AnimatableImage</key>
		<dict>
			<key>AnimationDuration</key>
			<integer>2</integer>
			<key>ImageNames</key>
			<array>
				<string>running_skeleton0</string>
				<string>running_skeleton1</string>
				<string>running_skeleton2</string>
				<string>running_skeleton3</string>
				<string>running_skeleton4</string>
				<string>running_skeleton5</string>
				<string>running_skeleton6</string>
				<string>running_skeleton7</string>
				<string>running_skeleton8</string>
				<string>running_skeleton9</string>
				<string>running_skeleton10</string>
				<string>running_skeleton11</string>
				<string>running_skeleton12</string>
				<string>running_skeleton13</string>
				<string>running_skeleton14</string>
				<string>running_skeleton15</string>
			</array>
		</dict>
		<key>Number</key>
		<integer>30</integer>
		<key>ScreenName</key>
		<string>SenseiScreen</string>
	</dict>
</array>
</plist>
