<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1. I recommend having both positivity and goal visualizations. Positivity visualizations focuses on things which are good in your life. Goal visualizations focuses on goals and aspirations.</string>
	<string>2. The appreciation and exploration of nature is proven to have a dramatic positive impact on our happiness. Get out in nature and capture a beautiful shot for a visualization. Then add a positive inspirational caption.</string>
	<string>3. Visualizations which focus on friendship and family are great. Try to have at least one of those in your portfolio.</string>
	<string>4. A symbolic image which represents values and character traits you want to adopt are great foundations for visualizations.</string>
	<string>5. You may create a Visualization of a pile of cash, but consider what the feeling you want to obtain is, and try to find an image which represents that.</string>
	<string>6. Visualizations can be great tools for adopting new habits. A picture of yourself doing a critical activity of your desired habit is a great visualization.</string>
	<string>7. A picture of yourself smiling with the caption “smile” is a simple yet powerful visualization. Figure out what thoughts trigger your best smile, focus on those and snap that selfie.</string>
	<string>8. Want to eat healthier? Try a picture of a healthy meal with the caption: ”This is a tasty meal”.</string>
</array>
</plist>
